{% layout "base" %}
{% block content %}

<p>
	Nous avons reçu une demande de réinitialisation de mot de passe pour votre compte sur la plateforme <i>{{ projectName }}</i>.
  Si vous n'avez pas demandé de réinitialisation de mot de passe, vous pouvez contactez l'administrateur de la plateforme.
  Pour réinitialiser votre mot de passe, cliquez sur le lien ci-dessous.
</p>

<p style="text-align: center; padding: 20px 0;">
    <a href="{{ url }}">
        <b>Réinitialiser mon mot de passe</b>
    </a>
</p>

<p>
	<b>Important : Ce lien n'est valable que 24 heures.</b>
    <br>
</p>

<p>
    Merci,<br>
    L'équipe {{ projectName }}
</p>

{% endblock %}